* {
  box-sizing: border-box;
}

:root {
  --color-brand-light: #2B7FFF;
  --color-brand-black: #011C44;
  --color-bgr-light: #FFF;
  --color-text-light: #4A4A4A;
  --color-not-active: #747272;

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.72;
  background-color: var(--color-bgr-light);
  color: var(--color-brand-black);
  max-width: 1440px;
  margin: 0;
}

/* Header */
.header__nav {
  display: flex;
  margin-top: 32px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  padding: 32px 100px;
  width: 100%;
  height: 106px;
}

a {
  text-decoration: none;
  line-height: normal;
  color: var(--color-primary-light);
  cursor: pointer;
}

a:hover {
  color: var(--color-brand-light);
  font-weight: 700;
}

.nav-mobile {
  display: none;
}

.mobile-menu-container {
  display: none;
}

ul {
  list-style-type: none;
}

.logo {
  width: 74px;
  height: 42px;
}

.header__nav-ul,
.header__nav-list {
  display: flex;
}

.header__nav-ul {
  gap: 5vw;
}

.header__nav-list {
  gap: 2vw;
}

.header__nav-icon {
  transition: fill 0.3s ease;
  width: 32px;
  height: 32px;
}

.header__nav-icon:hover {
  fill: none;
  stroke: var(--color-brand-light);
  transition: stroke 0.3s ease;
}

/* Перша секція */

.section__headline {
  background-image: url(/BeautyZone/images/header.jpg);
  height: 780px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 126.5px;
  padding-left: 12vw;
}

.section__headline-title {

  padding-top: 48.5px;
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1;

}

.title-mob {
  display: none;
}

h1 {
  margin: 0;
  font-family: Play;
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.81;
  text-transform: capitalize;
  color: var(--color-brand-light);
}

.header__button {
  margin-top: 40px;
  width: 219px;
  height: 53px;
  border-radius: 32px;
  background-color: var(--color-brand-light);
  color: var(--color-bgr-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  margin-bottom: 14px;
}

.header__button:hover {
  border-radius: 32px;
  border: 2px solid var(--color-brand-light);
  background-color: var(--color-bgr-light);
  color: var(--color-brand-black);
}

.section__headline-text {
  color: var(--color-text-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

/* Секція переваг */
.section__about-us {
  display: flex;
  margin-top: 40px;
  gap: 28px;
  padding: 0 100px;
}

h2 {
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  margin: 0;

}

span {
  color: var(--color-brand-light);
  text-transform: capitalize;
}

.bold {
  font-weight: 600;
  color: var(--color-brand-black);
}

.section__about-us-text {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 1.72;

}

.section__about-us-img {
  border-radius: 50%;
}

.about-us-img {
  margin-bottom: 9px;
  width: 335px;
  height: 328px;
}

.about-us-foto {
  margin-left: 10vw;
  width: 343px;
  height: 328px;
}

.section__about-us-foto {
  display: flex;
  justify-content: space-between;
}

.starsmoll-icon {
  width: 40px;
  height: 40px;
  transform: rotate(2deg);
  flex-shrink: 0;
}

.starbig-icon {
  width: 64px;
  height: 64px;
  transform: rotate(353deg);
  flex-shrink: 0;
  margin-left: 121px;
}

.star-icon {
  display: none;
}

/* Секція advantages */
.section__advantages {
  background-image: url(/BeautyZone/images/background.png);
  padding-bottom: 96px;
}


.section__advantages__title {
  padding-top: 176px;
  margin-bottom: 48px;
  text-align: center;
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}

.section__advantages__title>span {
  text-transform: none;
}

.section__advantages-list {
  display: flex;
  justify-content: center;
  gap: 56px;
  padding: 0;
}

.section__advantages-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 316px;
  height: 181px;
  border-radius: 32px;
  background: var(--color-bgr-light);
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  padding: 24px 32px;
}

.advantages-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
}

.section__advantages-list-item>p {
  margin: 0;
  line-height: 1.33;
  color: #000;
  font-size: 18px;
}

/* Секція Процедури */

.formats-section__container {
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.section__procedures-title {
  position: relative;
  text-align: center;
  background: linear-gradient(rgba(243, 248, 255, 1) 10%,
      rgba(243, 248, 255, 0.3) 50%, rgba(243, 248, 255, 0.1) 30%);
  padding-bottom: 48px;
}


.section__procedures-title>span {
  text-transform: none;
}

.section__procedures-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 100px;
  gap: 32px;
}

.carousel-button.arrow {
  transform: rotate(180deg);
  border: solid 1px var(--color-brand-black);
}

.carousel-button {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  fill: var(--color-brand-black);
  border: solid 1px var(--color-brand-black);
}

.carousel-button:hover {
  fill: var(--color-bgr-light);
  border: none;
  background-color: var(--color-brand-light);
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}



.section__procedures-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.swiper-slide {
  display: flex;
  position: relative;
  text-align: center;

}

.procedures-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px 120px;
}

.procedures-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(1, 28, 68, 0.00) 48.53%,
      rgba(1, 28, 68, 0.73) 84.61%,
      #011C44 101.39%);
  border-radius: inherit;
  z-index: 1;
}

.procedures-container-img {
  border-radius: 4px 120px;
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
}


.procedures-text {
  position: absolute;
  bottom: 0;
  color: var(--color-bgr-light);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18;
  padding-bottom: 32px;
  z-index: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.pagination__button {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--color-not-active);
}

.pagination__button--active {
  background-color: var(--color-brand-light);
}

/* Секція контакти */

.section__сontacts-title {
  margin-top: 96px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

.section__сontacts-title>span {
  text-transform: none;
}

.section__сontacts {
  display: flex;
  gap: 32px;
  padding: 0 12.2vw;

}

.section__сontacts-map {
  width: 57%;
}

.сontacts-map {
  border-radius: 32px;
  height: 481px;
  width: 100%;
}

.section__сontacts-form {
  display: flex;
  flex-direction: column;
  background-image: url(/BeautyZone/images/background-modal.png);
  background-size: cover;
  border-radius: 32px;
  width: 40%;
  height: 481px;
  padding: 48px 56px;
}

.сontacts-form-title {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--color-bgr-light);
  margin: 0;
  margin-bottom: 32px;
}

.сontacts-form-title>span {
  text-transform: none;
}

.form-label {
  display: none;
}

.form-field {
  display: flex;
  align-content: flex-start;
  width: 100%;
  height: 52px;
  border-radius: 32px;
  border: 2px solid var(--color-not-active);
  margin-bottom: 16px;
}

.form-input {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  background: transparent;
  padding: 18px 32px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--color-bgr-light);
  border-radius: 32px;
}

.form-input:focus {
  background-color: var(--color-not-active);

}

.form-field:focus {
  background-color: var(--color-not-active);
  border: none;
}

.form-input::-webkit-input-placeholder {
  color: var(--color-bgr-light);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.form-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-btn-open {
  background-color: var(--color-brand-light);
  color: var(--color-bgr-light);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  border-radius: 32px;
  width: 281px;
  height: 53px;
  padding: 0;
  border: none;
}

.modal-btn-open:hover {
  border: 2px solid var(--color-brand-light);
  color: var(--color-brand-black);
  background-color: var(--color-bgr-light);
}

.form-text>p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-not-active);
  text-align: center;
}

.section__сontacts-map-mob {
  display: none;
}

/* Футер */
footer {
  position: relative;
  max-height: 390px;
  background-image: url(/BeautyZone/images/bgc-footer.png);
  padding: 56px 100px;
  gap: 20px;
  margin-top: 94px;
  font-size: 16px;
}

.footer-logo,
.footer-nav-conteiner,
address,
.footer__nav-text {
  flex-basis: 25%;
}

.footer__logo-nav {
  display: flex;
  gap: 20px;
}

.footer-logo {
  width: 83px;
  height: 42px;
}


.footer__nav-list,
.footer__nav-contact,
.footer__nav-text-list {
  color: var(--color-bgr-light);
  padding: 0;
  margin: 0;
}

.footer__nav-list {
  gap: 16px;
}

.footer__nav {
  display: flex;
}

address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__nav-contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-style: normal;

}

.footer__nav-contact>li:hover {
  color: var(--color-brand-light);
}

.footer__icon-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.footer-icon {
  width: 42px;
  height: 42px;
}

.footer-icon:hover {
  stroke: var(--color-brand-light);
  stroke-width: 2px;
}

.nav-text {
  color: var(--color-not-active);
  font-size: 13px;
}

footer::after {
  position: absolute;
  background-image: url(/BeautyZone/images/footerAfter.png);
  content: "";
  width: 278px;
  height: 213px;
  bottom: -41px;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
}





@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .header__nav {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
  }

  .logo {
    width: max-content;
    height: max-content;
    margin-top: 16px;
    margin-left: 20px;
  }

  .nav-mobile-menu {

    border: none;
    background-color: transparent;
    fill: var(--color-bgr-light);
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
  }

  .mobile-menu-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    background-color: var(--color-bgr-light);
    z-index: 2;
  }

  .mobile__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .is-open {
    transform: translateX(0);
  }


  .mobile__menu-nav {
    display: block;
    margin-top: 32px;
    margin-left: 20px;
    padding: 0;
  }

  .mobile-menu__list-open {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
  }

  .nav-item-open {
    flex-direction: column;
  }

  .header__nav-list {
    padding: 0;
  }

  .mobile-menu__btn-close {

    margin-top: 20px;
    margin-right: 20px;
    border: none;
    fill: var(--color-brand-black);
    background: transparent;
    padding: 0;
    cursor: pointer;
  }

  .section__headline {
    background-image: url(/BeautyZone/images/header-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 446px;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .section__headline-title {
    padding-top: 70px;
  }

  .title {
    display: none;
  }

  .title-mob {
    display: block;
    margin: 0;
    font-family: Play;
    font-size: 54px;
    font-weight: 700;
    line-height: 0.85;
    text-transform: capitalize;
    color: var(--color-brand-light);
  }

  .header__button {
    margin-top: 32px;
    width: 186px;
    height: 44px;
    border-radius: 24px;
    background-color: var(--color-brand-light);
    color: var(--color-bgr-light);
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-bottom: 8px;
  }

  .section__headline-text {
    color: var(--color-text-light);
    font-size: 11px;
    font-weight: 400;
    line-height: 1.63;
  }

  /* Секція переваг */
  .section__about-us {
    padding: 0 20px;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    font-family: Roboto;
    margin-bottom: 24px;
  }

  span {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
  }

  .section__about-us-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-align: justify;
    margin: 0;
    margin-bottom: 16px;
    line-height: normal;
  }

  .star-icon {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    transform: rotate(9deg);
    right: 22px;
    margin: 0;
    margin-top: 6px;
  }


  .section__about-us-container {
    display: none;
  }

  /* Секція advantages */
  .section__advantages {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 1) 70%), url(/BeautyZone/images/background-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0;
  }

  .section__advantages__title {
    margin-top: 104px;
    margin-bottom: 24px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
  }

  .section__advantages__title>span {
    font-size: 32px;
    font-weight: 500;
  }

  .section__advantages-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 22px;
    gap: 16px;
    border-radius: 32px;
    margin-bottom: 40px;
  }

  .section__advantages-list-item {
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  }

  .advantages-icon {
    width: 48px;
    height: 48px;
    /* height: max-content; */
  }

  /* Секція процедури */

  .section__procedures-container {
    padding: 0 20px;
  }

  .section__procedures-title {
    background: var(--color-bgr-light);
    padding-bottom: 0;
  }

  .icon {
    width: 52px;
    height: 52px;
  }

  .carousel-button {
    display: none;
  }


  /* Секція Контакти */
  .section__сontact {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0;
    gap: 0;
  }

  .section__сontacts-title {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 24px;
  }

  .section__сontacts {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .section__сontacts-map {
    display: none;
  }

  .section__сontacts-form {
    width: 100%;
    padding: 42px 24px;
    height: 434px;
    margin-bottom: 86px;
    background-image: url(/BeautyZone/images/bgi-mob.png);
  }

  .сontacts-form-title {
    margin-bottom: 24px;
  }

  .сontacts-form-title>span {
    font-size: 22px;
    font-weight: 600;
  }

  .modal-btn-open {
    width: 241px;
    height: 44px;
    font-size: 16px;
  }

  .section__сontacts-map-mob {
    display: block;
    margin: 0 -20px;
    height: 232px;

  }

  .сontacts-map {
    height: 232px;
    border-radius: 0;
    width: 100%;
  }

  /* Футер */
  footer::after {
    display: none;
  }

  footer {
    margin: 0;
    padding: 32px 151.5px;
    text-align: center;
    font-size: 14px;
    line-height: normal;
    background-image: url(/BeautyZone/images/footer-mob.png);
  }

  .footer__logo-nav {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .footer-logo {
    width: 57px;
    height: 30px;
    margin-bottom: 26px;
  }

  .footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer__nav-text-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .nav-text-item {
    display: none;
  }

  .footer__nav-contact {
    display: none;
  }

  .footer-icon {
    width: 32px;
    height: 32px;
  }

  .nav-text {
    line-height: 1.5;
    font-size: 12px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  .header__nav {
    display: none;
  }

  .header__nav-icon {
    width: 24px;
    height: 24px;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
  }

  .logo {
    width: max-content;
    height: max-content;
    margin-top: 16px;
    margin-left: 20px;
  }

  .nav-mobile-menu {
    border: none;
    background-color: transparent;
    fill: var(--color-brand-light);
    cursor: pointer;
    padding-top: 20px;
    padding-right: 20px;
  }

  .mobile-menu-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    background-color: var(--color-bgr-light);
    z-index: 2;
  }

  .mobile__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .is-open {
    transform: translateX(0);
  }


  .mobile__menu-nav {
    display: block;
    margin-top: 32px;
    margin-left: 20px;
    padding: 0;
  }

  .mobile-menu__list-open {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
  }

  .nav-item-open {
    flex-direction: column;
  }

  .header__nav-list {
    padding: 0;
  }

  .mobile-menu__btn-close {

    margin-top: 20px;
    margin-right: 20px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
  }

  .mobile__menu-icon{
    fill: var(--color-brand-black);
  }


  .section__headline {
    padding: 0;
    padding-left: 12vw;
    background-position: center;
  }

  .section__headline-title {
    line-height: 1.5;
    padding-top: 105px;
    margin: 0;
  }

  .title {
    display: none;
  }

  .title-mob {
    display: block;
    margin: 0;
    font-family: Play;
    font-size: 84px;
    font-weight: 700;
    line-height: 0.85;
    text-transform: capitalize;
    color: var(--color-brand-light);
  }

  .header__button {
    margin-top: 32px;
    width: 186px;
    height: 44px;
    border-radius: 24px;
    background-color: var(--color-brand-light);
    color: var(--color-bgr-light);
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-bottom: 8px;
  }

  .section__headline-text {
    color: var(--color-text-light);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.63;
  }

  /* Секція переваг */
  .section__about-us {
    gap: 8vw;
    padding: 0 40px;
  }

  h2 {
    font-family: Play;
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
  }

  .section__about-us-text {
    font-size: 16px;
  }

  .section__about-us-foto {
    justify-content: space-evenly;
  }

  .about-us-img {
    margin-bottom: 9px;
    width: 220px;
    height: 220px;
  }

  .about-us-foto {
    margin-left: 8vw;
    width: 220px;
    height: 220px;
  }

  .starsmoll-icon {
    width: 20px;
    height: 20px;
    transform: rotate(2deg);

  }

  .starbig-icon {
    width: 32px;
    height: 32px;
    transform: rotate(353deg);
    margin-left: 20px;
  }

  /* Секція переваг */
  .section__advantages {
    padding: 0 40px;
    padding-bottom: 96px;
  }

  .section__advantages__title {
    font-family: Play;
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    margin-top: 40px;
  }

  .section__advantages-list {
    gap: 20px;
    padding: 0;
  }

  .section__advantages-list-item {
    min-height: 210px;
    padding: 12px 16px;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  }

  /* секція процедури */
  .section__procedures-title {
    position: relative;
    text-align: center;
    background: linear-gradient(to bottom, rgba(235, 243, 255, 1) 5%, rgba(235, 243, 255, 0.8) 30%, rgba(235, 243, 255, 0.2) 65%);
    padding-bottom: 48px;
  }

  .swiper-container {
    min-height: 345px;
  }

  .section__procedures-container {
    padding: 0 20px;
    gap: 16px;

  }

  .procedures-container {
    display: flex;

  }

  .procedures-container-img {
    height: max-content;
  }

  .procedures-text {
    margin: 0 auto;
  }



  /* Секція Контакти */
  .section__сontact {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0;
    gap: 0;
  }

  .section__сontacts-title {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 24px;
  }

  .section__сontacts {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .section__сontacts-map {
    display: none;
  }

  .section__сontacts-form {
    width: 100%;
    padding: 42px 24px;
    height: 434px;
    margin-bottom: 24px;
  }

  .сontacts-form-title {
    margin-bottom: 24px;
  }

  .сontacts-form-title>span {
    font-size: 22px;
    font-weight: 600;
  }

  .modal-btn-open {
    width: 241px;
    height: 44px;
    font-size: 16px;
  }

  .section__сontacts-map-mob {
    display: block;
    margin: 0 -20px;
    height: 432px;
  }

  .сontacts-map {
    height: 432px;
    border-radius: 0;
    width: 100%;
  }

  /* Футер */
  footer {
    padding: 36px 60px;
    margin: 0;
    font-size: 14px;
  }

  footer::after {
    display: none;
  }
.footer__logo-nav{
  gap: 10px;
}
}