html {
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: #292929;
  background-color: #FFFFFF;
  line-height: 140%;
}

header {
  background-image: url(./images/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
}

.header-top {
  display: flex;
  justify-content: space-between;

}

.header-bottom {
  margin-top: 356px;
}
.header-top-burger {
  background-image: url(./icons/Icon-Burger-menu.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 64px;
  right: 120px;
  z-index: 2;
  opacity: 1;

}
.header-top-burger:hover{
  background-image: url(./icons/Icon-Burger-menu-hover.svg);
  
}



h1 {
  font-size: 48px;
  font-style: italic;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -1.5px;
  margin-top: 40px;
  margin-bottom: 0;
}

.menu {
  padding: 64px 120px;
  background: #E8EFF9;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  /* width: 100vw; */
  transform: translateX(-100%);
  transition: transform 500ms;
  position: fixed;
  z-index: 100;
  margin: 0 auto;

}

.menu:target {
  transform: translateX(0%);
}

.menu-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;

}

nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: #E8EFF9;
}

.nav-link {
  text-decoration: none;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 64px;
  padding-left: 120px;
  color: #292929;
}

.main {
  max-width: 1020px;
  margin: 0 auto;
}

main {
  background-color: #FFFFFF;
}

h2 {
  padding-top: 120px;
  padding-bottom: 64px;
  margin: 0;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 100% */
  letter-spacing: -1.5px;
}

.section-name {
  padding-top: 0;
  padding-bottom: 72px;
}


.section-list {
  justify-content: center;
  display: flex;
  gap: 24px;
  padding-top: 64px;
  padding-bottom: 120px;
  list-style-type: none;
  margin: 0;
}

.section-list-item {
  width: 324px;
  height: 320px;
}

h3 {
  font-weight: 700;
  /* 22.4px */
  font-size: 16px;
  margin: 0;
}

p {
  line-height: 140%;
  /* 22.4px */
  padding-top: 8px;
  margin: 0;
}

.item-price {
  font-weight: 700;
  padding-top: 12px;
  margin: 0;
}

.section-producs {
  display: flex;
  gap: 3%;

}

.photo-square {
  width: 65%;
}

.photo-wide {
  width: 32%
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  /* 33.6px */
  padding-top: 16px;
  padding-bottom: 64px;
}

.section-direct-title {
  padding: 0;
}

.section-direct {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}

.section-advantages {
  width: 498px;
}

.text-advantages {
  font-weight: 700;
  line-height: 140%;
  align-self: stretch;
  padding-bottom: 16px;
  /* 22.4px */
}

.section-text {
  padding-top: 24px;
  line-height: 27px;
  /* 168.75% */
}

footer {
  background-image: url(./images/img10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 460px;
  position: sticky;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 1024px) {
  header {
    padding: 64px 72px;
    background-image: url(./images/tablet/header\ tb.jpg)
  }

  h1 {
    font-size: 40px;
    margin: 0;
  }

  .section-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    padding: 120px 72px;
  }

  .photo-square {
    width: 65%;
    object-fit: cover;
  }

  .photo-wide {
    width: 32% object-fit: cover;
  }
}







@media (max-width: 576px) {
  html {
    scroll-behavior: auto;
  }

  header {
    padding: 32px 20px;
    background-image: url(./mob/imagemob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 100%;
    /* 32px */
    letter-spacing: -1.5px;
    background-position: 0 0;
  }

  .header-top-burger{
    top: 32px;
    right: 20px; 
  }
  .header-top-logo {
    width: 127px;
    height: 16px;
  }

  .header-bottom-icon {
    width: 32px;
    height: 38px;
    padding-top: 294px;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 32px;
    margin: 0;
  }

  .header-bottom {
    margin: 0;
  }

  nav {
    padding-top: 36px;
    font-size: 22px;
    line-height: 22px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 0;
  }

  .menu-top {
    margin: 0;
  }

  .menu {
    padding: 36px 20px 20px;
    position: fixed;
  }

  .nav-link {
    padding: 0;
  }

  main {
    padding: 120px 20px;
  }

  h2 {
    font-size: 32px;
    line-height: 32px;
    /* 100% */
    letter-spacing: -1.5px;
    padding-bottom: 48px;
  }

  .section-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;

  }

  .section-list-item {
    margin-top: 48px;
    width: 100%;
  }
.section-list-item>img{
  max-width: 100%;
}
  .section-producs {
    padding-bottom: 40px;
  }

  .section-direct-title {
    padding-top: 80px;
    padding-bottom: 32px;
    text-align: left;
  }

  h4 {
    font-size: 16px;
    line-height: 140%;
    /* 22.4px */
    padding-top: 16px;
    padding-bottom: 40px;
    margin: 0;
  }

  .photo-square {
    width: 48.5%;
  }

  .photo-wide {
    width: 48.5%;
  }

  .text-advantages {
    font-size: 16px;
    line-height: 27px;
    /* 168.75% */
  }

  .section-direct {
    display: block;
    padding-bottom: 0;
  }
.section-advantages{
  width: 100%;
}
.section-text{
  /* width: 100vw; */
}
  footer {
    background-color: url(./mob/footer.png);
    min-height: 200px;
    padding: 0;
    width: 100%;
  }
}